@model MemberInfoViewModel
@{
    Layout = "~/Views/Shared/_Layout _memberInfo_bs5.cshtml";
}
<nav>眼睛業障重nav</nav>
<div class="container-xl">
    <div class="row">
        <div class="col-12 col-md-3">
            <div class="row headInfo">
                <div class="col-9 d-md-none">
                    <h2>嗨!我是 @Model.MemberName </h2>
                    <p>加入時間:@Model.RegisterTime</p>
                    <div class="aboutBtn" type="button" data-bs-toggle="collapse" data-bs-target="#aboutCollapse"
                         aria-expanded="false" aria-controls="aboutCollapse">
                        編輯個人資料
                    </div>
                </div>
                <div class="col-2 col-md-12">
                    <div>
                        <img class="portrait" src="~/dist/img/memberInfo/portrait.png">
                    </div>
                    <a href="#">更新照騙</a>
                    <div>
                        <img class="honor" src="~/dist/img/memberInfo/honor.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="row bestAndComment">
                <div class="best">
                    <img src="~/dist/img/memberInfo/bestLandLord.svg" alt="best">
                    <span>超讚的阿</span>
                </div>
                <div class="comment">
                    <img src="~/dist/img/memberInfo/star.svg" alt="comment">
                    <span>千萬則評價</span>
                </div>
            </div>
            <partial name="~/Views/Shared/_AboutMePartial.cshtml" />
            <div class="row writingAboutMe collapse" id="aboutCollapse">
                <partial name="~/Views/Shared/_AboutCollapsePartial.cshtml" />
            </div>
            <div class="row checked">
                <h3>
                    <span>@Model.MemberName</span>
                    已確認
                </h3>
                <div class="col col-md-12">
                    <img src="~/dist/img/memberInfo/hook.svg" />
                    <span>電子郵件</span>
                </div>
                <div class="col col-md-12">
                    <img src="~/dist/img/memberInfo/hook.svg" />
                    <span>電話號碼</span>
                </div>
            </div>
            <div class="row houseSource d-md-none">
                <h3>
                    <span>@Model.MemberName</span>
                    的房源
                </h3>
                <partial name="~/Views/Shared/_HousesSourseSwiperPartial.cshtml" />
            </div>
        </div>
        <div class="d-none d-md-block col-md-6">
            <div class="row mdHeadInfo">
                <h2>嗨！我是 @Model.MemberName</h2>
                <p>加入時間：@Model.RegisterTime</p>
                <div class="mdAboutBtn" type="button" data-bs-toggle="collapse" data-bs-target="#mdAboutCollapse"
                     aria-expanded="true" aria-controls="mdAboutCollapse">
                    編輯個人資料
                </div>
            </div>
            <partial name="~/Views/Shared/_AboutMePartial.cshtml" />
            <div class="row mdWritingAboutMe collapse" id="mdAboutCollapse">
                <partial name="~/Views/Shared/_AboutMdCollapsePartial.cshtml"/>
            </div>
            <div class="row houseSource">
                <h3>
                    <span>@Model.MemberName</span>
                    的房源
                </h3>
                <partial name="~/Views/Shared/_HousesSourseSwiperPartial.cshtml" />
            </div>
        </div>
    </div>
</div>


@section topCSS{
    <!-- SWIPER CSS -->
    <link rel="stylesheet" href="~/dist/css/memberInfo/swiper-bundle.css">
    <link rel="stylesheet" href="~/dist/scss/swiper.min.css">
    <!-- SHOP-68 CSS -->
    <link rel="stylesheet" href="~/dist/scss/SHOP-68.css">
}
@section endJS{
    <script>
        //#region 各種宣告
        //負責傳去後端資料的物件
        let MemberInfoInput = { About: "", Location: "", WorkTime: "" };
        //要呈現的地方
        const writtenAboutMe = document.getElementById("writtenAboutMe");
        const writtenLocation = document.getElementById("writtenLocation");
        const writtenWork = document.getElementById("writtenWork");
        //手機collapse
        const meTextArea = document.getElementById("meTextArea");
        const locationInput = document.getElementById("locationInput");
        const workInput = document.getElementById("workInput");
        const cancelBtn = document.getElementById("cancelBtn");
        const saveBtn = document.getElementById("saveBtn");
        //桌機MdCollapse
        const MdMeTextArea = document.getElementById("MdMeTextArea");
        const MdLocationInput = document.getElementById("MdLocationInput");
        const MdWorkInput = document.getElementById("MdWorkInput");
        const MdCancelBtn = document.getElementById("MdCancelBtn");
        const MdSaveBtn = document.getElementById("MdSaveBtn");
        //#endregion

        MdSaveBtn.addEventListener("click", () => {
            MemberInfoInput.About = MdMeTextArea.value;
            MemberInfoInput.Location = MdLocationInput.value;
            MemberInfoInput.WorkTime = MdWorkInput.value;
            putToBack();
        });

        saveBtn.addEventListener("click", () => {
            MemberInfoInput.About = meTextArea.value;
            MemberInfoInput.Location = locationInput.value;
            MemberInfoInput.WorkTime = workInput.value;
            putToBack();
        });

        function putToBack () {
            axios({
                method: 'Put',
                url: `/MemberInfo/@Html.Raw(Model.MemberId)`,
                headers: {
                    'Content-Type':'application/json'
                },
                data: JSON.stringify(MemberInfoInput),
            })
            .then(function (res) {
                if (res.data == true && res.status==200)
                    writtenAboutMe.innerHTML = "1234";
                    writtenLocation.innerHTML = MemberInfoInput.Location;
                    writtenWork.innerHTML = MemberInfoInput.WorkTime;
            })
            .catch(function (error) {
                console.log(error)
            });
        }
    </script>
    <!-- SWIPER -->
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- swiper initialize -->
    <script src="~/dist/js/memberInfo/swiper.js"></script>
}
